################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Thegouges/FileContentIndex/a83f5c8b-bcbb-42cf-980b-c5aa9bb4941b.vsidx
/.vs/Thegouges/FileContentIndex/f03ba69c-9a98-485d-bd62-aa6db71a6d25.vsidx
/.vs/Thegouges/FileContentIndex/819b2ba7-1d74-4777-8ecd-58563c04ecf0.vsidx
